.abc{
    color: white;
    font-family: cursive;
    text-align: center;
}
html{
    background-color: black;
}
a{
    color: rgba(255, 0, 0, 0.9);
    text-decoration-color: red;
    
}
